body{
    font-family: Verdana, Arial, Helvetica, sans-serif;    
}
.tituloh1{    
    color: #000;
    font-weight: bolder;
    font-size: x-large;   
}
.tituloh3{    
    font-weight: bolder;
    font-size: large;
    float: left;
    position: static;
}
.tituloh5{
    font-weight: bolder;
    font-size: medium;
    float: left;
    position: static;
}
.linea{
    
    margin: 0 70%  0 0;
}
table.recibo{
    border-bottom: 2px solid black; 
    border-collapse: collapse;   
}
table.recibo tr.contenido td{
    border: 2px solid black;
   
}

table.tablafactura{
    margin-right: 70%;
    width: 22%;  
     border-collapse: collapse;  
} 

table.tablafactura tr.contenido td{
    border: 2px solid black;
   
}

table.tablafactura tr td.titulos{
   font-size: 26px;
}

table.reportea{
    margin: 10px 20px 50px 25px;
    width: 600px;
    border: 2px solid black;
}
table.reportea tr td{
    border: 1px solid black;
    text-align: center;
    font: arial 12px;
}
table.reportea tr th{
    border: 2px solid black;
    text-align: center;
    font: arial 12px;
    font-weight: bold;
    text-transform: uppercase;
}
.oculto{
    display:none;
}

table.imprimir-factura{
    border: none;
    width: 358px;
}
table.imprimir-factura tr td{
    padding: 5px;     
}
table.imprimir-factura tr td.cantidad{
    padding-left: 59px;
}