body
{
	line-height: 1.6em;
}
table { border:1px solid #000;}
table tr td{ padding-right: 15px; padding-left:15px; border:1px solid #000;}
#rounded-corner
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	margin: 0 auto;
	width: 75%;
	text-align: left;
	border:1px solid #000;
}
#rounded-corner thead th.rounded-company
{
	/*background: #b9c9fe url('../images/table-images/left.png') left -1px no-repeat;*/
	border:1px solid #000;
}
#rounded-corner thead th.rounded-q4
{
	/*background: #b9c9fe url('../images/table-images/right.png') right -1px no-repeat;*/
	border:1px solid #000;
}
#rounded-corner th
{
	padding: 8px;
	font-weight: normal;
	font-size: 13px; background:#fff;
	color:#000;
	border:1px solid #000;
	
}
#rounded-corner td
{
	padding: 8px;
	
	border-top: 1px solid #000;
	border-bottom:1px solid #000;
	border-left:1px solid #000;
	border-right:1px solid #000;
	color: #000;
	
}
#rounded-corner td.monto{
   padding: 8px 50px 8px 5px;
   text-align: right;
}
#rounded-corner td.text{
    padding: 8px;
   text-align: left;
}

#rounded-corner tfoot td.rounded-foot-left
{
	/*background: #e8edff url('../images/table-images/botleft.png') left bottom no-repeat;*/
    /*background: #b9c9fe;*/
}
#rounded-corner tfoot td.rounded-foot-right
{
	

}
#rounded-corner tbody tr:hover td
{
	/*background: #d0dafd;*/
}
#background-image
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	margin: 45px;
	width: 480px;
	text-align: left;
	border-collapse: collapse;
	
}
#background-image th
{
	padding: 12px;
	font-weight: normal;
	font-size: 14px;
	color: #339;
}
#background-image td
{
	padding: 9px 12px;
	color: #669;
	border-top: 1px solid #fff;
}
#background-image tfoot td
{
	font-size: 11px;
}
#background-image tbody td
{
	
}
	
#background-image tbody tr:hover td
{
	color: #339;
	background: none;
}
a.aboton{ width: 150px; text-align: center;  padding: 5px 10px; color: #fff; text-decoration: none; float: left; margin: 5px ; -webkit-border-radius: 10px; font-weight: bold;  -moz-border-radius: 10px; }

a.aboton button{ background: none; border: none; font-size: 16px; color: #fff; font-family: Times; font-weight: bold;}